@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid red; /*APAGAR*/
}

body{
    background-color: hsl(0, 0%, 90%);
}

#principal{
    width: 980px;
    margin: 0px auto;
}

/*Formatação do cabeçalho*/
header{
    height: 98px;
    display: flex;
    padding: 21px 0 21px 28px;
    align-items: center;
    background-color: #21272B;
}
header img{
    height: 56px;
    margin-right: 5px;
}
#titulos h1{
    color: #1BB4E8;
    font-size: 22px;
    font-style: italic;
}
#titulos h2{
    color: #FFFFFF;
    font-size: 22px;
    font-style: italic;
}

/*Formatação do menu*/
nav ul{
    list-style: none;
    position: absolute;
    width: 675px;
    margin-left: 75px;
    margin-top: 6px;
}
nav li{
    display: inline-block;
    width: 130px;
    text-align: center;
    border-right: 1px solid white;
    font-size: 12px;
}
#last{
    border-right: 0px;
}
.destaque{
    color: #1BB4E8 !important;
}
.menu a{
    color: #FFFFFF;
    text-decoration: none;
}
.menu a:hover{
    color: #1BB4E8;
}

/*Formatação da chamada para contato*/
#iate_contato{
    height: 495px;
    background-image: url('../_imagens/barcoprincipal.jpg');
}

#box{
    width: 425px;
    height: 225px;
    position: relative;
    top: 210px;
    left: 520px;
    color: white;
    padding: 35px 55px 55px 30px;
    box-sizing: border-box;
    background-color: #1a3243e7;
    font-style: italic;
}
#box h3{
    font-size: 26px;
}
#contato{
    display: flex;
    font-size: 15px;
    margin: 35px 0 0 0;
}
#contato h4{
    margin-left: 5px;
}
#telefone{
    color: #C6B07F;
    font-size: 110%;
}

/*Formatação do conteúdo*/
#conteudo{
    background-color: white;
    display: flex;
    justify-content: center;
}
.box-artigo{
    margin: 10px 25px 50px;
    width: 455px;
}
.box-titulo{
    margin-top: 0px;
    height: 50px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    align-items: center;
    display: flex;
    font-size: 30px;
    font-style: italic;
    color:#FFFFFF;
}
#titulo_destinos{
    background-color: #1BB4E8;
}
#titulo_frota{
    background-color: #C6B07F;
}
.titulo-artigo{
    font-style: italic;
    font-size: 25px;
}
.box-paragrafo{
    font-size: 20px;
}
#fotos_frota{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/*Formatação do rodapé*/
footer{
    font-size: 10px;
    background-color: #4e4d4dbe;
    padding: 20px;
    opacity: 30%;
    align-items: center;
}